{% extends "employee_register/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            {{form.air_consol|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.air_pic|as_crispy_field}}
        </div>
    </div>    
    <div class="row">
        <div class="col-md-6">
            {{form.air_chk_date|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.air_origin|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.air_dest|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.air_carrier|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.air_min|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.air_normal|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.air_45kg|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.air_100kg|as_crispy_field}}
            
        </div>
    </div>
        <div class="row">
            <div class="col-md-6">
            {{form.air_300kg|as_crispy_field}}
            
        </div>
        <div class="col-md-6">
            
            {{form.air_500kg|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.air_1000kg|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.air_fsc|as_crispy_field}}
        </div>
    </div> 
    <div class="row">
        <div class="col-md-6">
            {{form.air_iss|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.air_tspoint|as_crispy_field}}
        </div>
    <div class="row">
        <div class="col-md-6">
            {{form.air_remark|as_crispy_field}}
        </div>    
    </div> 
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class="col-md-6">
            <a href="{% url 'airfreight_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>

</form>

{%else%}

<h1>로그인 해주세요</h1>
{%endif%}

{% endblock content %}