{% extends "employee_register/base.html" %}
{% load crispy_forms_tags %}


{% block content %}

{% if user.is_authenticated %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            {{form.chk_date|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.carrier|as_crispy_field}}
        </div>
    </div>    
    <div class="row">
        <div class="col-md-6">
            {{form.origin|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.dest|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.twenty|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.fourty|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.freq|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.ttime|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.effective|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.scno|as_crispy_field}}
            
        </div>
    </div>
        <div class="row">
            <div class="col-md-6">
            {{form.position|as_crispy_field}}
            
        </div>
        <div class="col-md-6">
            
            {{form.remark|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
                Submit</button>
        </div>
        <div class="col-md-6">
            <a href="{% url 'employee_list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>

</form>

{%else%}

<h1>로그인 해주세요</h1>
{%endif%}

{% endblock content %}