{% extends "employee_register/base.html" %}


{% block content %}

{% if user.is_authenticated %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Date</td>            
            <td>Origin</td>
            <td>Carrier</td>
            <td>20ft</td>
            <td>40ft</td>
            <td>Freq</td>
            <td>T/Time</td>
            <td>Effective</td>
            <td>Scno</td>
            <td>Pic</td>
            <td>Remark</td>


            <td>
                <a href="{% url 'employee_insert' %}" >
                    <button type="button" class="btn btn-success">추가</button>
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for employee in employee_list %}
            <tr>
                <td>{{employee.chk_date}}</td>                
                <td>{{employee.origin}}</td>
                <td>{{employee.carrier}}</td>
                <td>{{employee.twenty}}</td>
                <td>{{employee.fourty}}</td>
                <td>{{employee.freq}}</td>
                <td>{{employee.ttime}}</td>
                <td>{{employee.effective}}</td>                
                <td>{{employee.scno}} </td>
                <td>{{employee.position}} </td> 
                <td>{{employee.remark}} </td>  

                <td>
                    <a href="{% url 'employee_update' employee.id %}">
                        <button type="button" class="btn btn-warning">수정</button>
                    </a>
                    
                    <form action="{% url 'employee_delete' employee.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">삭제</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{%else%}

<h1>로그인 해주세요</h1>
{%endif%}


{% endblock content %}